<section class="vh-100 gradient-custom " style="background: linear-gradient(to right, #6a11cb, #2575fc);">

    <div class="container py-5 h-100">
          <div class="card bg-dark text-white" style="width: 50rem; ;border-radius: 1rem; background: rgba(0, 0, 0, 0.7);">
            <div class="card-body text-center">                              
                        <form  [formGroup]="form">
                            <h2 class="mb-3 fw-normal text-center">Ingrese sus datos</h2>               
                            <div class="div-form">
                                <div class="row my-3">
                                        <div class="col-auto mx-5">
                                            <label name="email" for="floatingInput">Email:</label>
                                        </div>
                                        <div class="col">
                                            <input name="email" formControlName="email" type="email" class="form-control" id="floatingInput" placeholder="mail@ejemplo.com">
                                        </div>
                                </div>
                                @if(form.get('email'); as aux){
                                    @if(aux.invalid && (aux.dirty || aux.touched) && ( aux.hasError("required") || aux.hasError("email"))){
                                        <div class="alert alert-danger" role="alert">
                                            El formato del Email es incorrecto
                                        </div>
                                    }
                                }

                                <div class="row my-3">
                                    <div class="col-auto mx-4">
                                        <label name="contrasenia" for="floatingPassword">Constraseña:</label>
                                    </div>
                                    <div class="col">
                                        <input name="contrasenia" type="password" formControlName="clave" class="form-control" id="floatingPassword" placeholder="contraseña">
                                    </div>
                                </div>
                                @if(form.get('clave'); as aux){
                                    @if(aux.invalid && (aux.dirty || aux.touched) && ( aux.hasError("required") || aux.hasError("minlength"))){
                                        <div class="alert alert-danger" role="alert">
                                            La contraseña necesita como minimo 6 caracteres
                                        </div>
                                    }
                                }

                                <div class="row my-3">
                                    <div class="col-auto">
                                        <label name="repContrasenia" for="claveRepite">Repite la contraseña</label>
                                    </div>
                                    <div class="col">
                                        <input name="repContrasenia" type="password" formControlName="claveComparar" class="form-control" id="claveRepite" placeholder="repita contraseña">
                                    </div>
                                </div>
                                @if(form.get('claveComparar'); as aux){
                                    @if(aux.invalid && (aux.dirty || aux.touched) && ( aux.hasError("required") || aux.hasError("minlength"))){
                                        <div class="alert alert-danger" role="alert">
                                            El minimo de caracteres es 6
                                        </div>
                                    }
                                }
                                @if(esContraseniaIgual){
                                    <div class="alert alert-danger" role="alert">
                                        Las contraseñas no son iguales
                                    </div>              
                                }
                            </div>
                        </form>
                            <div class="d-flex flex-row-reverse">
                                <div class="p-2">
                                    <button class="btn btn-primary btn-large" (click)="this.registrar()">Registrar</button>
                                </div>  
                            </div>
                            <p class="mt-5 mb-3 text-body-secondary">&copy; 2017–2024</p>
            </div>
          </div>     
    </div>
</section>