#img-juegos{
    border-radius: 5px;
    width: 150px;
    border-radius: 10px;
}
#card-home{
    margin: 0 auto;
    float: none;
    right: 6rem;
    width: 50rem;
    height: 30rem ;
    background: rgba(0, 0, 0, 0.7);
}