<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-auto">
                <button class="btn btn-secondary btn-large" routerLink="home">Home</button>
            </div>
            <div class="col-auto">
                <button class="btn btn-secondary btn-large" routerLink="quien-soy">Quien Soy</button>
            </div>
            @if(!auth.enSesion){
                <div class="col-auto">
                    <button class="btn btn-secondary btn-large" routerLink="login">Iniciar Sesion</button>
                </div>
                <div class="col-auto">
                    <button class="btn btn-secondary btn-large" routerLink="registro">Registrarse</button>
                </div>
            }@else {
                <div class="col-auto">
                    <button class="btn btn-secondary btn-large" (click)="cerrarSesion()">Cerrar Sesion</button>
                </div>
                <div class="col-auto bg-secondary text-light mx-2" style="border-radius: 10px;">

                    <button class="btn btn-secondary btn-large" (click)="cerrarSesion()">
                        <fa-icon [icon]="faSalir"></fa-icon>
                    </button>

                    <fa-icon [icon]="faUsuario" style="padding: 5px;"></fa-icon>{{auth.email}}
                </div> 
                      
            }
        </div>
    </div>
</nav>
