<section class="vh-100 gradient-custom " style="background: linear-gradient(to right, #6a11cb, #2575fc);">

    <div class="container py-5 h-100">
          <div class="card bg-dark text-white" style="border-radius: 1rem; background: rgba(0, 0, 0, 0.7);">
              <div class="card-body text-center">                              
                <h2 class="text-center">Quien soy</h2>
                <div class="row my-5">
                    <div class="col-auto">
                        <div class="card my-2" style="width: auto;">       
                            <img src="perfilyo.jpg"  alt="error">
                        </div>
                    </div>
                    <div class="col">
                        <p>
                            Soy Leandro tengo 25 años, empeze a 
                            interesarme a programar a finales del 2021, a finales de ese mismo año por videos en youtube 
                            aprendi lo mas basico de Python, en ese lapso me costo mucho empezar a programar como tal
                            y no simplemente ver tutoriales, por lo mismo al poco tiempo decidi ingresar en la tecnicatura de programacion de UTN
                            para empezar teniendo una guia de mas o menos como tenia que abordar los temas para programar ya por mi cuenta.
                        </p>
                        
                    </div>

                    <div class="row mt-2">
                        <h2>Explicacion mi Juego</h2>
                        <div class="col">
                            <h3>
                                BLACKJACK
                        </h3>
                        <p>
                            EL juego consiste en enfrentarse de forma individual ala Crupier comparando su mano con la nuestra, intentando conseguir 21 puntos o el número más cercano posible sin pasarse.
                            Para conseguir dicha puntuación se suman los valores de dos cartas que se reparten de inicio a cada jugador, con
                            los de aquellas nuevas cartas que, opcionalmente, se podrán añadir en el turno de juego. Si las dos cartas iniciales
                            suman 21, se denomina Blackjack, y es la mejor jugada. Cuando un jugador no suma 21 con sus dos cartas podrá
                            pedir cartas para conseguir dicho número o uno cercano pero si el jugador se pasa de esos 21 puntos pierde.
                        </p>
                        <h3>Valores de las Cartas</h3>
                        <p>Los valores son en base al valor numerico de la misma, que en estos casos van de 2 al 10.
                            Por otra parte las cartas con figura ya sea J (Jack), Q (Queen) y K (King) sus valores son de 10 y por ultimo el valor de A (Ace) es 1.
                            <br>
                            Sumando el valor de las cartas anteriormente mencionadas debemos llegar a 21 o algun numero cercano a este, sin pasarnos, porque en tal caso perderiamos.
                        </p>
                        <h3>Accion En Juego</h3>
                        <p>
                            Las principales acciones son <span class="hit">HIT</span> y <span class="stand">STAND</span> su funcionamiento es el siguiente:
                        </p>
                        <p>
                            <span class="hit">HIT</span>: Su funcion es darnos 1 Carta <br> Uso de <span class="hit">HIT</span> es una vez nos repartan las 2 cartas podremos ver cuanto puntaje tenemos, siempre teniendo en cuenta que nuestro objetivo es 21 o un numero cercano al mismo. Con esto en mente podriamos arriesgarnos a pedir otra carta para acercarnos mas a este puntaje deseado.
                        </p>
                        <p>
                            <span class="stand">STAND</span>:Su funcion es terminar nuestro turno, con esto queremos decir que estamos conformes con las cartas que tenemos y queremos ver si ganamos o perdemos.
                        </p>
                        <h3>Comienzo de la partida</h3>
                        <p>
                            En el comienzo de la partida se repatiran 4 cartas, 2 para el jugador que podra verlas y ver su puntaje sumado; y se le daran 2 cartas al Crupier, en este caso nosotros como jugadores podremos ver 1 sola carta que tiene el crupier mientras que la otra es desconocida para nosotros. <br>
                            En estos primeros momentos podremos elejir si queremas mas cartas (<span class="hit">HIT</span>) o estamos conformes con los que tenemos (<span class="stand">STAND</span>).
                            <br> Una vez decidamos <span class="stand">STAND</span>, el Crupier mostrara sus carta que tenia boca abajo, y en caso de que la suma de sus cartas sea 16 o menor tiene que hacer <span class="hit">HIT</span> sobre su mano hasta que supere este numero. Una vez esto se cumpla se decidira quien esta mas cerca al 21.
                        </p>
                        <h3>Desenlace en la Partida</h3>
                        <p>
                            Los mas comunes son: <br>
                            <span class="stand">Ganar</span>: Tienes mas puntaje que el crupier o el mismo crupier su mano supero 21.
                            <br>
                            <span class="stand">Perder</span>: El Crupier tiene mayor puntaje o tu mano supero 21. 
                            <br>
                            <span class="stand">Empate</span>: En caso de que tu mano y la del crupier tengan el mismo valor.
                   </p>
             
                    </div>
                </div>  
                </div>
            </div>
          </div>     
    </div>
</section>
